.error-page {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    align-items: center;
    background-color: #040c4176;
}
.error-page h1 {
    margin-top: 3rem;

}
.error-page p {
    font-size: 1.4rem;
    text-transform: capitalize;
}
.error-page p::after{
    content: "...";
}

.back-home {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
    /* background-color: rgba(0, 255, 255, 0.215); */
}