.home {
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.search-form {
  max-width: 600px;
  margin: 0 auto 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  
}


.search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  background-color: white;
  border: 1px solid #666666c0;
  border-radius: 4px;
  outline: none;
  /* background-color: #333; */
  color: #666666c0;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #4f4e4e;
}

.search-button {
  padding: 0.75rem 1.5rem;
  background-color: #d3151f;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;
  transition: background-color 0.2s;
  white-space: nowrap;
  outline: none;
  border: none;
}
@media screen and (max-width: 550px) {
  .search-form {
    flex-direction: column;
  }
  .search-button {
    width: 70%;
    margin: 0 auto;
    
  }
  
}

.search-button:hover {
  background-color: #f40612;
}


@media (max-width: 639px) {
  .home {
    padding: 1rem 0;
  }

  .search-form {
    margin-bottom: 1rem;
  }
}

.movies-grid {
  background-color: #040c4191;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  align-items: center;
  
  gap: 1.1rem;
  /* min-width: 300px; */
  padding: 2rem;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 5px;
}

.movies-grid.not-found {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  
}
.movies-grid.not-found button {
  width: fit-content;
  padding: 1rem 3rem;
}
@media screen and (max-width: 550px){
  .movies-grid {
    /* background-color: green; */
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
    justify-self: center;
    padding: 1.4rem;
    padding-left: 0;
    padding-right: 0;
    
  }
  
  .movies-grid .movie-card {
    margin-top: 1rem;
    
  }
  .movie-card {
    width: 80%;
  }
   .movie-info h3 {
  font-size: 1rem;
  
}
}
/* @media screen and (max-width: 480px){
  .movies-grid {
    
    grid-template-columns: repeat(1, minmax(350px, 1fr));
    justify-items: center;
  }
} */
.btn-container {
  max-width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
  /* background-color: black; */
  border: 3px solid white;
  
  border-radius: 15px;
  padding: 1rem 0;
}
.btn-gerne {
  border: none;
  /* background-color: rgb(51, 51, 51); */
  background: none;
  color: white;
  outline: none;
  border: none;
  transition: all 0.15s ease-in;
}
.btn-gerne:hover {
  background-color: white;
  color: rgb(51, 51, 51);
}
.home h2 {
  color: white;
  text-transform: capitalize;
  text-align: center;
  font-size: 40px;
}