
.movie-page {
    padding: 3.5rem 2.5rem;
    max-width: 1400px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    /* background-color: #010835;  */
    background-color: #040c4191;
    border-radius: 0.5rem;
    margin: 0 auto;
    margin-top: 2rem;
}
.image {
    flex: 1;
    min-width: fit-content;
}
.image img {
    
    width: 100%;
    height: 100%;
       
}

h1 {
    font-size: 4.8rem;
    flex: 1;
}
.page-info {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
}


.cast-crew {
    display: flex;
    gap: 8rem;
    margin-top: 5rem;
    margin-left: 3rem;
}

.cast-crew li, .cast-crew p {
    list-style: none;
    transform: translateX(45px);
    font-size: 1.5rem;

}
.cast-crew p {
    transform: translateX(70px);
}


.overview {
    background-color: #ffffff;
    color: #040c41;
    font-size: 25px;
    font-weight: 500;
    
    width: auto;
    /* margin: 0 auto; */
    padding: 1rem;
    text-overflow:ellipsis;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
   
}
.genre-con {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-block: 2rem;
    
}

.genre-con p, .genre-con span {
    
    width: fit-content;
    padding: 0.3rem 1.2rem;
    border-radius: 10px;
    
    /* background-color: #1a1a1a; */
    background-color: white;
    color: #040c41;
    font-weight: bold;
   
}
.genre-con p {
    

    background-color: rgb(100, 108, 255);
    color: black;
}

.imdb-logo img {
    width: 80px;
    height: 40px;
    
    border-radius: 15px;
}
.header {
    display: flex;
    align-items: center;

}

 @media screen and (max-width: 550px) {
    .movie-page {
        flex-direction: column;
    }
    
 }
 @media screen and (max-width: 650px) {
    .cast-crew {
        flex-direction: column;
        gap: 3rem;
        margin-top: 1rem;
        
    }
 }